.fa.distro-graphic {
  padding-right:0.8em;
  line-height:1.5em;
  font-size:2.5em;
  float:left;
  opacity:.7;
}
.os-known.btn-hero  {
  .btn-small {
    padding-left:4em;
  }
}

.fa.if-os-known {
  display:none;

}


.btn-primary {
  border-color: $c-primary;
  text-transform: uppercase;

  font-weight: 700;
  color: #fff;
  background-color: $c-primary;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  border-color: $c-primary;
  color: #fff;
  background-color: $c-primary;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: $c-primary;
  background-color: $c-primary;
}

.btn-primary .badge {
  color: $c-primary;
  background-color: #fff;
}

.btn-xl {
  padding: 20px 40px;
  border-color: $c-primary;
  border-radius: 3px;
  text-transform: uppercase;

  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: $c-primary;
}

.btn-dark {
  background: darken($c-primary,20%);
}

.btn-wide {
  width:100%;
}

.btn-spacer {
  margin-bottom:2em;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  border-color: darken($c-primary,15%);
  color: #fff;
  background-color: $c-primary;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  border-color: $c-primary;
  background-color: $c-primary;
}

.btn-xl .badge {
  color: $c-primary;
  background-color: #fff;
}


.btn-small {

font-size:.8em;
font-weight:lighter;
text-transform:none;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0;
}
